@model Category

<form method="post" class="p-2">
		<input asp-for="Id" hidden /> 
	<div class=" p-3 mt-4 border-0 rounded  shadow">
		<div class="row pb-2">
			<h1 class="text-primary"> Delete Category</h1>
		</div>
		<div asp-validation-summary="All"></div>
		<hr />

		<div class="mb=3 p-1">
			<label asp-for="Name" class="p-1"></label>
			<input asp-for="Name" type="text" class="form-control border-0 shadow" disabled />
		</div>

		<div class="mb=3 p-1">
			<label asp-for="DisplayOrder" class="p-1"></label>
			<input asp-for="DisplayOrder" class="form-control border-0 shadow" disabled />
		</div>
		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-danger mt-4 form-control">Delete Category</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Category" asp-action="Index" class="btn btn-info mt-4 form-control">Go Back To List </a>
			</div>
		</div>


	</div>
</form>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}

